body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: white;
}
.cards {
  margin-top: 1%;
  margin-bottom: 1%;
}

.inputLabel {
  margin-left: 10%;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

button[name=initiate-contract] {    
    padding: 8px 16px;
    font-size: 0.875rem;
    width: 110px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    min-height: 36px;
    box-sizing: border-box;
    line-height: 1.4em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: black;
    color: white;
} 

button[name=finalize-contract] {    
    padding: 8px 16px;
    font-size: 0.875rem;
    width: 110px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    min-height: 36px;
    box-sizing: border-box;
    line-height: 1.4em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #000080;
    color: white;
} 

.contract-buttons{
	margin: auto;
	display: flex;
	justify-content: space-between;
}